<!DOCTYPE html>
<html>
<head>
    <title>Life Is Strange</title>
</head>
<body>
    <div class="page-header">
        <img class="header-logo" src="~/Content/Images/lis.png" alt="Life Is Strange" style="width: 200px; height: auto;"/>
    </div>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li class="active"><a href="#about">About the Game</a></li>
                    <li class="active"><a href="#Video">Video Clips</a></li>
                    <li class="active"><a href="#Game">Game Cheats</a></li>
                    <li class="active"><a href="http://lifeisstrange.com/talk/">Talk About It</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/mpRhaXfvG_0" frameborder="3" allowfullscreen></iframe>
        </div>
    </div>
    <div class="container previewThem">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="https://outhereinthefield.files.wordpress.com/2015/01/max7.png" alt="Episode 1">
                    <div class="caption">
                        <h3>Episode 1</h3>
                        <p>Lorem ipsum dolor sit amet, sed cu odio mediocrem, ei vel latine omnesque consectetuer. Ei his accusam ocurreret hendrerit. Mazim mucius habemus et sit, in vel augue neglegentur, eu autem fuisset explicari duo. Usu no enim zril sadipscing, has te habeo graece inciderint. Unum adipiscing te eos, ex ius unum persequeris. Quo corpora eligendi adversarium te, justo facer vel ad.</p>
                        <p><a href="#" class="btn btn-primary" role="button">Play Now</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="http://www.enixorigin.com/media/2015/03/1799012_10206300589864058_2877816361482765980_o.jpg" alt="Episode 2">
                    <div class="caption">
                        <h3>Episode 2</h3>
                        <p>Lorem ipsum dolor sit amet, sed cu odio mediocrem, ei vel latine omnesque consectetuer. Ei his accusam ocurreret hendrerit. Mazim mucius habemus et sit, in vel augue neglegentur, eu autem fuisset explicari duo. Usu no enim zril sadipscing, has te habeo graece inciderint. Unum adipiscing te eos, ex ius unum persequeris. Quo corpora eligendi adversarium te, justo facer vel ad.</p>
                        <p><a href="#" class="btn btn-primary" role="button">Play Now</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="https://i.ytimg.com/vi/GmYGAjlpW6o/maxresdefault.jpg" alt="Episode 3">
                    <div class="caption">
                        <h3>Episode 3</h3>
                        <p>Lorem ipsum dolor sit amet, sed cu odio mediocrem, ei vel latine omnesque consectetuer. Ei his accusam ocurreret hendrerit. Mazim mucius habemus et sit, in vel augue neglegentur, eu autem fuisset explicari duo. Usu no enim zril sadipscing, has te habeo graece inciderint. Unum adipiscing te eos, ex ius unum persequeris. Quo corpora eligendi adversarium te, justo facer vel ad.</p>
                        <p><a href="#" class="btn btn-primary" role="button">Play Now</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

